# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Cache
.cache/
.next/
.turbo/

# Optional: lock files (only if you intentionally don’t want them tracked)
# yarn.lock
# package-lock.json
# pnpm-lock.yaml

example/node_modules/
example/ios/Pods/
example/android/.gradle/
example/android/app/build/
